
<div class="navbar-lewagon">
  <h4 class="header-text"><%= link_to ('<i class="fas fa-cocktail"></i> my cocktail party').html_safe, cocktails_path %></h4>
  <p><span id="banner-typed-text"></span></p>
  <h6 class="button"><%= link_to ('add a cocktail <i class="fas fa-plus-circle"></i>').html_safe, new_cocktail_path %></h6>
</div>

<div class="large-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
     <div class="col-lg-3 col-md-4 col-sm-6 m-3">
        <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key %>
        <% else %>
        <%= image_tag "https://www.titosvodka.com/static/img/drink-default.svg", alt: "generic" %>
        <% end %>
        <div class="card-words">
          <h5 class="ml-2"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
          <!-- <p class="mr-2"><%#= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, cocktail_path(cocktail), method: :delete %></p> -->
        </div>
    </div>
        <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Taffanie
  </div>
<!--   <div class="footer-links">
    See more of my work here &nbsp;<i class="far fa-hand-point-right"></i><a href="github.com/taffanie"><i class="fab fa-github"></i></a>
  </div> -->
</div>


<%# @cocktails.each do |cocktail| %>
  <%#= link_to cocktail.name, cocktail_path(cocktail) %>
<%# end %>

<!-- width: 400, height: 300,
 -->

<!-- col-lg-3 col-md-4 col-sm-6 -->
