<h1 class="header-text"><%= link_to "My Cocktail Party", cocktails_path %></h1>

<h1>Add a new cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
<%= f.input :name %>
<%= f.input :photo, as: :file %>
<%= f.submit "Add a cocktail" %>
<% end %>
