<div class="navbar-lewagon">
  <h4 class="header-text"><%= link_to ('<i class="fas fa-cocktail"></i> my cocktail party').html_safe, cocktails_path %></h4>
  <p><span id="banner-typed-text"></span></p>
  <h6 class="button"><%= link_to ('add a cocktail <i class="fas fa-plus-circle"></i>').html_safe, new_cocktail_path %></h6>
</div>

<h1><%= @cocktail.name %></h1>

  <table>
      <tr>
        <th>Ingredient</th>
        <th>Dose</th>
  </tr>
  <% @cocktail.doses.each do |dose| %>
  <tr>
    <td><%= dose.ingredient.name %></td>
    <td><%= dose.description %>
      <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %>
    </td>

  </tr>
  <% end %>
</table>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %><br>

<%= link_to "Back", cocktails_path %>

<!-- Can do dose.ingredient.name because dose belongs_to an ingredient -->



<!-- <li><%#= dose.description %> <%#= dose.ingredient.name %>
      <%#= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %>
    </li> -->
