<div class="navbar-lewagon">
  <h4 class="header-text"><%= link_to ('<i class="fas fa-cocktail"></i> my cocktail party').html_safe, cocktails_path %></h4>
  <!-- <p><span id="banner-typed-text"></span></p> -->
  <h6 class="button"><%= link_to ('add a cocktail <i class="fas fa-plus-circle"></i>').html_safe, new_cocktail_path %></h6>
</div>

<div class="show-card">

<div class="show-page-photo col-3">
  <% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key %>
  <% else %>
  <%= image_tag "https://www.titosvodka.com/static/img/drink-default.svg", alt: "generic" %>
  <% end %>
</div>

  <table>
      <tr>
        <th>Ingredients:</th>
      </tr>
  <% @cocktail.doses.each do |dose| %>
  <tr>
    <td><strong><%= dose.ingredient.name %></strong> - <%= dose.description %> <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
  </table>

</div>

<p class="add"><%= link_to ('<i class="fas fa-plus-circle"></i> add an ingredient').html_safe, new_cocktail_dose_path(@cocktail) %></p>

<p class="back"><%= link_to ('<i class="fas fa-arrow-circle-left"></i> back to all cocktails').html_safe, cocktails_path %></p>

<!-- Can do dose.ingredient.name because dose belongs_to an ingredient -->



<!-- <li><%#= dose.description %> <%#= dose.ingredient.name %>
      <%#= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %>
    </li> -->
