<h1 class="header-text"><%= link_to "My Cocktail Party", cocktails_path %></h1>

<h1>Add dose</h1>

<%= simple_form_for ([@cocktail, @dose]) do |f| %>
<%= f.input :description %>
<%= f.input :ingredient, collection: Ingredient.all %>
<%= f.submit "Add dose" %>
<% end %>

<!-- Pass an ARRAY to collection -->

<!-- The above form generates the below:
<form action="/cocktails/1/doses" method="post"></form>

When submitted, we will go to the path /cocktails/1/doses (we can find this url in the rails routes) -->

<!-- If we just passed @dose:
<form action="/doses" method="post"></form> -->
